body {
    background-color: #FFFFFB;
}

header {
    background-color: lightskyblue;
}

section {
    background-color: cornsilk;
}

footer {
    background-color: lightgrey;
}

#pokemon-list{
    max-height: 70vh;
    overflow: scroll;
}

.hidden{
  display: none;
} 